<ul class="mainMenuWrapper">
    <li> <a href="/search">Search</a></li>
    <li> <a href="/history">Search History</a> </li>
    <li> <a href="/favorites">Favorites</a> </li>
    <li> <a href="/addShoe">Recommend a Brand</a></li>
    <li><a href="/logout">Logout</a> </li>
    <li> <a href="/about">About GlassSlipper</a> </li>
</ul>