<ul class="mainMenuWrapper">
    <li> <a href="/search">Size Me!</a></li>
    <li> <a href="/addShoe">Recommend a Brand</a></li>
    <li><a href="/login">Login</a> </li>
    <li> <a href="/signup">Sign Up</a></li>
    <li> <a href="/about">About GlassSlipper</a> </li>
  </ul>