<!DOCTYPE html>
<html>
<head>
<title>About GlassSlipper</title>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->

<!-- favorite icon starts -->
<link rel="shortcut icon" href="images/common/favicon.ico" type="image/x-icon" />
<!-- favorite icon ends -->

<!-- Google fonts start -->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
<!-- Google fonts end -->

<!-- CSS files start -->
<link href="css/framework.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/colorbox.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/elements.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/hidpi.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/css/skins/pink.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
<!-- CSS files end -->

<!-- JavaScript files start -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/effects.jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo-slider.min.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!-- JavaScript files end -->
</head>
<body>
<!-- website wrapper starts -->
<div class="websiteWrapper"> 
  
  <!-- main menu wrapper starts -->
  {{#if user}}
    {{>menu_logged_in}}
  {{else}}
    {{>menu_logged_out}}
  {{/if}}
  <!--<ul class="mainMenuWrapper">
    <li><a href="/search">Search</a></li>
    <li><a href="/history">Search History</a> </li>
    <li><a href="/favorites">Favorites</a> </li>
    <li><a href="/addShoe">Recommend a Brand</a></li>
    <li><a href="/login">Login</a> </li>
    <li class="currentPage"><a href="/about">About GlassSlipper</a> </li>
  </ul>-->
  <!-- main menu wrapper ends --> 
  
  <!-- header wrapper starts -->
  <div class="headerOuterWrapper">
    <div class="headerWrapper"> <a href="" class="mainMenuButton"><span>Menu</span></a></div>
  </div>
  <!-- header wrapper ends --> 
  
  <!-- page wrapper starts -->
  <div class="pageWrapper faqPageWrapper"> 
    
    <!-- page content wrapper starts -->
    <div class="pageContentWrapper"> 
      <!-- page title starts -->
      <h3 class="pageTitle">About GlassSlipper</h3>
      <!-- page title ends -->
      <p>People ususally ask...</p>
      <div class="textBreak"></div>
      <!-- faqs start --> 
      <!-- accordion wrapper starts -->
      <div class="accordionWrapper"> 
        <!-- accordion item wrapper starts -->
        <div class="accordionItemWrapper"> <a href="" class="accordionButton"><span class="accordionButtonIcon"></span><span class="accordionButtonTitle">What is this?</span></a>
          <div class="accordionContentWrapper">
            <div class="accordionContent">
              <p>GlassSlipper tells you your shoe size in every brand.</p>
            </div>
          </div>
        </div>
        <!-- accordion item wrapper ends --> 
        <!-- accordion item wrapper starts -->
        <div class="accordionItemWrapper"> <a href="" class="accordionButton"><span class="accordionButtonIcon"></span><span class="accordionButtonTitle">How does it work?</span></a>
          <div class="accordionContentWrapper">
            <div class="accordionContent">
              <p>Just enter a current brand and size of a shoe that fits you, we'll do the rest.</p>
            </div>
          </div>
        </div>
        <!-- accordion item wrapper ends --> 
        <!-- accordion item wrapper starts -->
        <div class="accordionItemWrapper"> <a href="" class="accordionButton"><span class="accordionButtonIcon"></span><span class="accordionButtonTitle">This is awesome!</span></a>
          <div class="accordionContentWrapper">
            <div class="accordionContent">
              <p>Hey, that's not a question! But thanks, we hope you enjoy it :)</p>
            </div>
          </div>
        </div>
        <!-- accordion item wrapper ends --> 
      </div>
      <!-- accordion wrapper ends --> 
      <!-- faqs end -->
      <div class="pageBreakBoth"></div>
    </div>
    <!-- page content wrapper ends --> 
    
  </div>
  <!-- page wrapper ends --> 
  
  <!-- footer wrapper starts -->
  <div class="footerWrapper"> 
  </div>
  <!-- footer wrapper ends --> 
  
</div>
<!-- website wrapper ends -->
</body>
</html>
