<!DOCTYPE html>
<html>
<head>
<title>GlassSlipper-About</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- <link href="../public/css/style.css" rel="stylesheet" type="text/css" media="all" /> -->
  <link href="/css/skins/pink.css" rel="stylesheet" type="text/css" media="all" />  
  <link href="/css/main.css" rel="stylesheet" type="text/css" media="all" />  
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  
</head>
<body>
	<div class="col-xs-12 col-sm-6 col-md-12" id="text-about">
		<p class="lead text-center"> We want to change the way people find shoes... </p>
		<p class="lead text-center"> We want to reduce the frustration within the process, and make it just like slipping into a glass slipper... </p> 

		<h4> Welcome to the shoe-fitting revolution. As GlassSlipper, we want to make your shoe shopping (online or offline) as painless and quick as possible. To get started, please input a current brand size on our homepage, where you will find many common brands. Then, you will recieve a beautiful table view of all your results. </h> </div>
</body>