<!DOCTYPE html>
<html>
<head>
<title>GlassSlipper Shoe Search</title>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->

<!-- favorite icon starts -->
<link rel="shortcut icon" href="images/common/favicon.ico" type="image/x-icon" />
<!-- favorite icon ends -->

<!-- Google fonts start -->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
<!-- Google fonts end -->

<!-- CSS files start -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/framework.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/colorbox.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/elements.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/hidpi.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/css/skins/pink.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
<!-- CSS files end -->

<!-- JavaScript files start -->
<script type="text/javascript" src="js/jquery.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/effects.jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo-slider.min.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!-- JavaScript files end -->
</head>
<body>
<!-- website wrapper starts -->
<div class="websiteWrapper landingWrapper"> 
  
  <!-- main menu wrapper starts -->
  {{#if user}}
    {{>menu_logged_in}}
  {{else}}
    {{>menu_logged_out}}
  {{/if}}
  <!-- main menu wrapper ends --> 
  
  <!-- header wrapper starts -->
  <div class="headerOuterWrapper">
    <div class="headerWrapper"> <a href="" class="mainMenuButton"><span>Menu</span></a></div>
  </div>
  <!-- header wrapper ends -->
  
  <!-- page wrapper starts -->
  <div class="pageWrapper faqPageWrapper"> 
    
    <!-- page content wrapper starts -->
    <div class="pageContentWrapper" style="text-align:center;"> 
      <!-- page title starts -->
      <h3 class="pageTitle">Suggest A Brand</h3>
      <!-- page title ends -->
      <p>We're missing your favorite brand?</p>
      <p>Bummer, sorry about that.</p>
      <p>Tell us what it is and we'll try to add it!</p>
      
      <form class="form-horizontal shoeSearchForm shoeSuggestForm" action="/" method="post">
        <!-- <fieldset>           -->
          <!-- <div class="control-group"> -->
            <input type="text" class="form-control shoeSuggestTextBox" placeholder="Brand" name="description">
          <!-- </div> -->
        <!-- </fieldset> -->
        <input type="submit" id="shoeSuggestSubmit" class="btn btn-info btn-lg" value="Suggest">
      </form>
      <!-- faqs start --> 
      </div>
    </div>
    <!-- page content wrapper ends --> 
    
  </div>
  <!-- page wrapper ends --> 
  
  <!-- footer wrapper starts -->
  <div class="footerWrapper"> 
  </div>
  <!-- footer wrapper ends --> 
  
</div>
<!-- website wrapper ends -->
</body>
</html>