<!DOCTYPE html>
<html>
<head>
<title>Add Brand</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- <link href="../public/css/style.css" rel="stylesheet" type="text/css" media="all" /> -->
  <link href="/css/skins/pink.css" rel="stylesheet" type="text/css" media="all" />  
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  
</head>
<body>
	<div class="form-group">
	      <label for="description">Shoe Brand:</label>
	      <input type="text" class="form-control" id="description" placeholder="Description" name="description">
	</div>
	<input type="submit" id="submitBtn" class="btn btn-default" value="Add the Brand"></input>
</body>