<!DOCTYPE html>
<html>
<head>
<title>GlassSlipper</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- <link href="../public/css/style.css" rel="stylesheet" type="text/css" media="all" /> -->
  <link href="/css/skins/pink.css" rel="stylesheet" type="text/css" media="all" />
  <link href="/css/main.css" rel="stylesheet">
  

  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  
</head>
<body>
  <div class="container-fluid">
    <div class="row" id="shoeSearchArea">
      <div class="col-xs-12">
      <form class="form-horizontal shoeSearchForm" action="/results" method="get">
          <fieldset>          
              <div class="control-group">
                  <label class="control-label shoeSearchLabel">Brand:</label>
              <div class="controls">
                  <select name="brand">
                    {{#each brands}}
                      <option value={{brand}}>{{brand}}</option>
                    {{/each}}
                  </select>
              </div>
              </div>
                <div class="control-group">
                    <label class="control-label shoeSearchLabel">Size:</label>
                <div class="controls">
                    <select name="size">
                      {{#each sizes}}
                        <option value={{size}}>{{size}}</option>
                      {{/each}}
                    </select>
                </div>
                </div>
            </fieldset>
            <input type="submit" class="shoeSearchSubmit btn btn-info btn-lg" value="Find My Shoe Size!">
            <p> Couldn't find your shoe brand? Ask us to add it <a href="/addShoe" id="link"> here </a>
            <a href="/about" id="link"> About Us</a>
        </form>
      </div>
    </row>
  </div>

</body>
</html>