<!DOCTYPE html>
<html>
<head>
<title>GlassSlipper</title>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="runio, premium, mobile, template, HTML, CSS" />
<meta name="Description" content="Premium mobile HTML/CSS template." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- meta tags end -->

<!-- favorite icon starts -->
<link rel="shortcut icon" href="images/common/favicon.ico" type="image/x-icon" />
<!-- favorite icon ends -->

<!-- Google fonts start -->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
<!-- Google fonts end -->

<!-- CSS files start -->
<link href="css/framework.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/colorbox.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/elements.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/hidpi.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/css/skins/pink.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
<!-- CSS files end -->

<!-- JavaScript files start -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/effects.jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo-slider.min.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!-- JavaScript files end -->
</head>
<body>
<!-- website wrapper starts -->
<div class="websiteWrapper"> 
  
  <!-- main menu wrapper starts -->
  {{#if user}}
    {{>menu_logged_in}}
  {{else}}
    {{>menu_logged_out}}
  {{/if}}
  <!--<ul class="mainMenuWrapper">
    <li><a href="/search">Search</a></li>
    <li><a href="/history">Search History</a> </li>
    <li><a href="/favorites">Favorites</a> </li>
    <li><a href="/addShoe">Recommend a Brand</a></li>
    <li><a href="/login">Login</a> </li>
    <li><a href="/about">About GlassSlipper</a> </li>
  </ul>-->
  <!-- main menu wrapper ends --> 
  
  <!-- header wrapper starts -->
  <div class="headerOuterWrapper">
    <div class="headerWrapper"> <a href="" class="mainMenuButton"><span>Menu</span></a></div>
  </div>
  <!-- header wrapper ends --> 
  
  <!-- slider wrapper starts -->
  <div class="sliderOuterWrapper">
    <div class="sliderWrapper">
      <div class="mainSlider" id="mainSlider"> <a href="/search"><img src="images/landing/slide_1.jpg" alt="" /></a> <a href="/search"><img src="images/landing/slide_2.jpg" alt="" /></a><a href="/search"><img src="images/landing/slide_3.jpg" alt="" /></a><img src="images/landing/slide_4.jpg" alt="" /></a>
    </div>
  </div>
  <!-- slider wrapper ends --> 
  
  <!-- page wrapper starts -->
  {{#if message}}
     <div class="alert alert-danger"> {{ message }} </div>
  {{/if}}
  <div class="pageWrapper homePageWrapper">
    <a href="/search" id="welcomeLink">
    <div class="pageContentWrapper welcomeWrapper">
      <h3>Enter GlassSlipper</h3>
    </div>
    </a>
  </div>
  <!-- page wrapper ends --> 
  
  <!-- footer wrapper starts -->
  <div class="footerWrapper"> 
  </div>
  <!-- footer wrapper ends --> 
  
</div>
<!-- website wrapper ends -->
</body>
</html>

