<!DOCTYPE html>
<html>
<head>
<title>Signup</title>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->

<!-- favorite icon starts -->
<link rel="shortcut icon" href="images/common/favicon.ico" type="image/x-icon" />
<!-- favorite icon ends --> 

<!-- Google fonts start -->
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
<!-- Google fonts end -->

<!-- CSS files start -->
<link href="css/framework.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/colorbox.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/elements.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" media="screen" />
<link href="css/hidpi.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/css/skins/pink.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
<!-- CSS files end -->

<!-- JavaScript files start -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/effects.jquery-ui.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo-slider.min.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
<!-- JavaScript files end -->
</head>
<body>
	<!-- website wrapper starts -->
<div class="websiteWrapper landingWrapper"> 
  
  <!-- main menu wrapper starts -->
  <ul class="mainMenuWrapper">
    <li class="currentPage"><a href="/search">Size Search</a></li>
    <li><a href="/about">About</a> </li>
  </ul>
  <!-- main menu wrapper ends --> 
  
  <!-- header wrapper starts -->
  <div class="headerOuterWrapper">
    <div class="headerWrapper"> <a href="" class="mainMenuButton"><span>Menu</span></a></div>
  </div>
  <!-- header wrapper ends -->
  
  <!-- page wrapper starts -->
  {{#if message}}
     <div class="alert alert-danger"> {{ message }} </div>
  {{/if}}
  <div class="pageWrapper landingPageWrapper">
    <div class="container-fluid">
    <div class="row" id="shoeSearchArea">
      <div class="col-xs-12">
	<form class="form-horizontal shoeSearchForm" action="/signup" method="post">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" name="email">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button id="shoeSearchSubmit" class="btn btn-info btn-lg">Signup</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>