/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Custom CSS Rules Start                                                                             */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
#welcomeLink:hover {
  text-decoration: none;
}

#shoeSearchArea {
  padding-top: 2em;
  text-align: center;
}

.shoeSearchForm {
  padding-top: 5px;
}

.shoeSearchLabel {
  padding-bottom: 1em;
  font-size: 24px;
}

.shoeSearchInput {
  padding: 10px 5px 0px 0px;
  margin: 5px 5px 0px 0px;
}

#shoeSearchSubmit {
  margin-top: 10px;
  height: 44px;
  width: 112px;
}

#link{
  color: white;
}

#text-about{
  color:blue;
}

.center {
  margin-left:auto;
  margin-right:auto;
  width:10%;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////// Custom CSS Rules End                                                                               */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
